<div class="row">
  <div class="col-sm-6">
     <h5>Following Employers</h5>
  </div>
  </div>

<div class="margin-t20 search position-re row">
  <div class="col-sm-6">
    <input ng-model="pageInfo.search.$" type="text" name="search" placeholder="search" class="form-control">
    <i class="fa fa-search"></i>
  </div>
</div>

<div class="joblist">
  <p ng-if="(employees | filter : pageInfo.search.$).length == 0">No Results</p>
    <div class="v_post row" ng-repeat="emp in employees | filter : pageInfo.search.$">
    <div class="po_img col-sm-2">
      <img style="width: 100%;" src="{{emp.company_image ? 'admin/api/uploads/'+emp.company_image : 'html/images/company_placeholder.jpeg'}}">
    </div>
    <div class="v-details col-sm-6">
      <h4 class="active" ui-sref="view_company({id: emp.id+'-'+emp.slug})">{{emp.company_name}}</h4>
      <p>{{emp.founded.split('T')[0]}}</p>
      <p>{{emp.location.join(', ')}}</p>
    </div>
    <div class="col-sm-2 text-center">
      <p>3</p>
      <p>Open Jobs</p>
    </div>
    <div class="col-sm-2">
        <div>
          <button ng-click="unfollow(emp.id)" class="btn btn-danger">Unfollow</button>
        </div>
      </div>
  </div>
  
</div>