<div class=" job_main_right">
  <div class="row job_section">
  <div class="col-sm-12">
    <div class="jm_headings">
    <h2>Edit Profile</h2>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <p ng-if="!pageInfo.edit"><span ui-sref="view_company({id: loggedInUserInfo.id+'-'+profile.slug})" style="text-decoration: underline;color: ">www.howmatch.com/company/{{loggedInUserInfo.id}}-{{profile.slug}}</span><span ng-click="pageInfo.edit=true" class="edit_url cp"><i class="fa fa-edit"></i>Edit</span></p>
        <p ng-if="pageInfo.edit"><span>www.howmatch.com/company/{{loggedInUserInfo.id}}-<input  ng-model="profile.slug"></span><span ng-click="pageInfo.edit=false;change_slug(profile.slug)" class="edit_url cp"><i class="fa fa-save"></i>save</span></p>
      </div>
      
    </div>
    <div class="row"> 
        <div class="col-sm-12">               
        <div class="pho-file-uploaad">
            <div class="p-photo" ng-class="{hv_img: profile.company_image}">
              <i ng-if="!profile.company_image" class="fa fa-user" aria-hidden="true"></i>
              <img ng-if="profile.company_image" ng-src="{{'admin/api/uploads/'+profile.company_image}}">
            </div>                   
          </div>
          <div class="text-left">               
            <input format="png,jpg,jpeg" id="profileImage" file-upload type="file" ng-model="profile.company_image" name="">       
            <button trigger-upload="profileImage" class="btn btn-success">Upload Profile Image</button>
            <button ng-click="show_modal('#galleryModal')" class="btn btn-primary">View Gallery</button>
        </div>
        </div>
        </div>
          <form name="companyprofile"> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Company Name</label>
            <input ng-change="change_slug(profile.company_name)" required="" ng-model="profile.company_name" type="text" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Founded Date</label>
            <input required ng-model="profile.founded" type="date" class="form-control" name="fdate">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Employer Name</label>
            <input required ng-model="profile.employer_name" type="text" class="form-control" name="name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Phone No</label>
            <input required ng-model="profile.phone_no" type="text" class="form-control" name="fdate">
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Phone_no">Website</label>
          <input required ng-model="profile.website" type="text" class="form-control" name="website" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="JobTitle">Facebook link</label>
          <input ng-model="profile.facebook" type="text" class="form-control" name="Phone_no" placeholder="">
        </div>
       </div>
       <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Phone_no">LinkedIn</label>
          <input ng-model="profile.linkedin" type="text" class="form-control" name="website" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="JobTitle">Youtube link</label>
          <input ng-model="profile.youtube" type="text" class="form-control" name="Phone_no" placeholder="">
        </div>
       </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="teamsize">Team Size</label>
            <input required ng-model="profile.teamsize" type="text" class="form-control" name="teamsize">
          </div>
          <div class="form-group col-md-6">
            <label for="SalaryType">Categories</label>
            <select ng-model="profile.category" required class="form-control" select2 multiple="">
              <option ng-repeat="cat in category" value="{{cat.id}}">{{cat.name}}</option>
            </select>
            
          </div>                  
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Experience">Description</label>
              <textarea ng-model="profile.description" required row="8" type="text" class="form-control" name="description"></textarea>
            </div>                 
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label>Location</label>
              <select ng-model="profile.location" required class="form-control" select2 multiple="">
                <option ng-repeat="ind in lov.location" value="{{ind.id}}">{{ind.title}}
              </select>
            </div>
          </div>
            
          
          
          <!-- <div class="row">
              <div class="col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31328.557295391744!2d78.3884319!3d11.03340035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1590894128247!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
          </div> -->
          <div class="text-right padd30">               
        <button type="submit" ng-click="save(companyprofile.$valid)" class="btn btn-success">Save Profile</button>
    </div>
      </form>
 </div>
</div>
</div>

 

<div class="modal" tabindex="-1" role="dialog" id="galleryModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header log-hd">
          <h5 class="modal-title"> Gallery <input format="png,jpg,jpeg" id="gallery_image" file-upload type="file" after-upload="addGallery();" ng-model="pageInfo.gallery_image" name="">       
            <button trigger-upload="gallery_image" class="btn btn-success"><i class="fa fa-plus"></i> New Image</button></h5>
        </div>
      <div class="modal-body bg-gra usrmodal">
        <div class="joblist">
            <div  class="row">
              <div ng-repeat="gallery in profile.gallery" class="col-sm-3" style="position: relative;">
                <i ng-click="delete_gallery($index)" class="fa fa-trash" aria-hidden="true" style="position: absolute;top: 0;
                right: 0;color: red;"></i>
                <img style="width: 100%;max-height: 100%;" ng-src="{{'admin/api/uploads/'+gallery}}">
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-cons">Close</button>
      </div>
    </div>
  </div>
</div>