<div class="row">
    <div class="col-md-3" style="padding: 10px">
        Showing {{pager.startIndex+1}} - {{pager.endIndex+1}} of {{pager.totalItems}} {{pager.label}}
    </div>
    <div class="col-md-6 text-center">
        <ul ng-if="pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(pager.currentPage - 1)">
                <a>Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-click="setPage(page)" ng-class="{active:pager.currentPage === page}">
                <a>{{page}}</a>
            </li>                
            <li ng-click="setPage(pager.currentPage + 1)" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a>Next</a>
            </li>
        </ul>
    </div>

    <div class="col-md-3 text-right" style="padding: 10px">
        Go to <input style="width: 50px;" type="number" ng-model="pageInfo.cpage" ng-change="setPage(pageInfo.cpage)">
    </div>
</div>