<main role="main" class="home_margin-top">
  <div class="sub_header"><img src="html/images/sub_job_search.png" class="img-fluid"></div>
  <div class="container">
    <div class="container-fluid">
      <div class="row v_post">
        <div class="col-sm-6">
          <div class="pho-file view_can">
            <div class="p-photo">
              <i ng-if="!candidate.profile_image" class="fa fa-user" aria-hidden="true"></i>
              <img ng-if="candidate.profile_image" style="width:100%" ng-src="{{'admin/api/uploads/'+candidate.profile_image}}">
            </div>
            <div class="pro-details"><h3>{{candidate.name}}</h3><p>{{candidate.job_title}}</p><p class="exp"> {{candidate.experience}} Years of Experience</p></div>
          </div>                      
        </div>
        <div class="col-sm-6 text-right" ng-if="loggedInUserInfo.user_type == 2">
          <div class="view_can" ng-if="candidate.resume_list"><a href="admin/api/uploads/{{candidate.resume_list[candidate.resume_list.length-1].resume}}" download="{{candidate.resume_list[resume_list.length-1].resume}}" class="btn btn-success" type="download"><i class="fa fa-download"></i>Download CV</a></div>
          <div class="view_can" ng-click="shortlist_candidate()"><button class="btn btn-secondary"><i class="fa fa-heart"></i>{{candidate.shortlisted ? 'Shortlisted' : 'Shortlist'}}</button></div>
          
        </div>
        
      </div>
      <div class="row bg-gra">
        <div class="col-sm-8">
          <div class="about">
            <h4>About Me</h4><hr>
            <p>{{candidate.aboutme}}</p>
          </div>

          <div>
            <h4>Education</h4>
            <div class="emp_list" ng-repeat="edu in candidate.education">
              <h5 class="title">{{edu.education}} {{edu.course}} {{edu.specialization}}</h5>
              <h6>{{edu.institute}}</h6>
              <p><b>Pass Out:</b> {{edu.year}}({{edu.type}}) <b>Grade:</b> {{edu.grade}}</p>
            </div>            
          </div>

          <div>
            <h4>Experience</h4>
            <div class="emp_list" ng-repeat="exp in candidate.experience_info">
                <h5 class="title">{{exp.designation}}</h5>
                <h6 class="res_subtitle">{{exp.organization}}</h6>
                <p ng-if="exp.current_org == 'yes'">{{month[exp.start_month]}} {{exp.start_year}} to Present</p>
                <p ng-if="exp.current_org == 'no'">{{month[exp.start_month]}} {{exp.start_year}} to {{month[exp.end_month]}} {{exp.end_year}}({{exp.dif}})</p>
                <p ng-if="exp.description.length <= 250 || exp.show_full">{{exp.description}}</p>
                <p ng-if="exp.description.length > 250 && !exp.show_full">{{exp.description.slice(0,250)}}...<span style="color: blue" class="cp tdu" ng-click="exp.show_full = true">Read More</span></p>
            </div> 
          </div>

          <div>
            <h4>Skills</h4>
            <div ng-repeat="sk in candidate.skills_info">
              <h5 class="title">{{sk.skill}}<span ng-if="sk.primary == 'yes'">(Primary)</span></h5>
              <h6>{{sk.year}} years {{sk.month}} months</h6>
                <div class="progress-bar">
                  <div style="width:{{sk.evaluation}}%;">{{sk.evaluation}}%</div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-sm-4 can_info">
          <div class="about">
            <h5>Personal Information</h5><hr>
          </div>
          <div>
            <img src="html/images/salary.svg">
            <p>Phone Number</p>
            <p>{{candidate.phonenumber}}</p>
          </div>
          <div>
            <img src="html/images/salary.svg">
            <p>Email</p>
            <p>{{candidate.email}}</p>
          </div>
          <div>
            <img src="html/images/gender.svg">
            <p>Date Of Birth</p>
            <p>{{candidate.dob.split('T')[0]}}</p>
          </div>          
          <div>
            <img src="html/images/age.svg">
            <p>Age</p>
            <p>{{candidate.age}}</p>
          </div>
          <div>
            <img src="html/images/salary.svg">
            <p>Current Location</p>
            <p>{{candidate.location}}</p>
          </div>
          <div>
            <img src="html/images/salary.svg">
            <p>Current Salary</p>
            <p>{{candidate.salary}}</p>
          </div>

          <div class="about">
            <h5>Job Preferences</h5><hr>
          </div>

          <div>
            <img src="html/images/salary.svg">
            <p>Prefered Salary</p>
            <p>{{candidate.preferred_salary}}</p>
          </div>
          <div>
            <img src="html/images/salary.svg">
            <p>Prefered Location</p>
            <p>{{candidate.preferred_location}}</p>
          </div>
           <div>
            <img src="html/images/salary.svg">
            <p>Prefered Job level</p>
            <p ng-repeat='pjl in candidate.preferred_joblevel'>{{pjl.}}</p>
          </div>
           <div>
            <img src="html/images/salary.svg">
            <p>Prefered Job Category</p>
            <p ng-repeat='cat in candidate.preferred_category'>{{pjl.}}</p>
          </div>

          <div>
            <img src="html/images/salary.svg">
            <p>Prefered Benefits</p>

            <div class="form-group expected-company-benefit">
  
              <div class="icon-group expected-company-benefit-list push-top-sm view-mode" id="benefit-view-mode">
                <div ng-if="candidate.benefits_list['Awards']">
                  <label>
                    <span title="Awards">
                      <a class="benefit-icon"><i class="fa fa-fw fa-trophy"></i></a>
                        <span class="benefit-name">Awards</span>
                                    </span>
                                </label>
                            </div>
                            <div  ng-if="candidate.benefits_list['Bonus']">
                                <label>
                                    
                                    <span title="Bonus">
                                        <a class="benefit-icon"><i class="fa fa-fw fa-dollar"></i></a>
                                        <span class="benefit-name">Bonus</span>
                                        
                                    </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Canteen']">
                                <label>
                                    
                                <span title="Canteen" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-coffee"></i></a>
                                    <span class="benefit-name">Canteen</span>
                                    
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Healthcare Plan']">
                                <label>
                                    
                                <span title="Healthcare Plan" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-user-md"></i></a>
                                    <span class="benefit-name">Healthcare Plan</span>
                                    
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Kindergarten']">
                                <label>
                                    
                                <span title="Kindergarten" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-child"></i></a>
                                    <span class="benefit-name">Kindergarten</span>
                                   
                                </span>
                                </label>
                            </div>
                        
                        
                            <div ng-if="candidate.benefits_list['Laptop']">
                                <label>
                                    
                                <span title="Laptop" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-laptop"></i></a>
                                    <span class="benefit-name">Laptop</span>
                                   
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Library']">
                                <label>
                                    
                                <span title="Library">
                                    <a class="benefit-icon"><i class="fa fa-fw fa-book"></i></a>
                                    <span class="benefit-name">Library</span>
                                   
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Mobile']">
                                <label>
                                    
                                <span title="Mobile">
                                    <a class="benefit-icon"><i class="fa fa-fw fa-mobile"></i></a>
                                    <span class="benefit-name">Mobile</span>
                                   
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Paid Leave']">
                                <label>
                                    
                                <span title="Paid Leave" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-file-image-o"></i></a>
                                    <span class="benefit-name">Paid Leave</span>
                                    
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Team Activities']">
                                <label>
                                    
                                <span title="Team Activities" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-glass"></i></a>
                                    <span class="benefit-name">Team Activities</span>
                                   
                                </span>
                                </label>
                            </div>
                        
                        
                            <div ng-if="candidate.benefits_list['Training']">
                                <label>
                                    
                                <span title="Training" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-graduation-cap"></i></a>
                                    <span class="benefit-name">Training</span>
                                    
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Transportation']">
                                <label>
                                    
                                <span title="Transportation" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-cab"></i></a>
                                    <span class="benefit-name">Transportation</span>
                                    
                                </span>
                                </label>
                            </div>
                            <div ng-if="candidate.benefits_list['Travel Opportunities']">
                                <label>
                                    
                                <span title="Travel Opportunities" >
                                    <a class="benefit-icon"><i class="fa fa-fw fa-plane"></i></a>
                                    <span class="benefit-name">Travel Opportunities</span>
                                   
                                </span>
                                </label>
                            </div>
                            <div  ng-if="candidate.benefits_list['Vouchers']">
                                <label>
                                    
                                <span title="Vouchers">
                                    <a class="benefit-icon"><i class="fa fa-fw fa-gift"></i></a>
                                    <span class="benefit-name">Vouchers</span>
                                   
                                </span>
                                </label>
                            </div>
                        
                    
                    
              </div>
              </div>
          </div>
          <div>

            <div class="about">
              <h5>Additional Documents</h5><hr>
            </div>
            <a href="admin/api/uploads/{{candidate.resume_list[candidate.resume_list.length-1].resume}}" download="{{candidate.resume_list[resume_list.length-1].resume}}" type="download"><i class="fa fa-download"></i>Download CV</a>

            <a href="admin/api/uploads/{{candidate.resume_list[candidate.resume_list.length-1].resume}}" download="{{candidate.resume_list[resume_list.length-1].resume}}" type="download"><i class="fa fa-download"></i>Download CV</a>
            
          </div>          
        </div>
        
      </div>
    </div>
  </div>
</main>