<header class="header_01 header_inner ">
  <div class="header_main header_job_single_main">
    <div class="header_menu fixed-top" ng-include="'src/elements/header.html'">
    </div>
    <div class="header_btm header_job_single">
  <div class="header_job_single_inner container">
    <div class="poster_company">
      <img  alt="brand logo" src="assets/images/demologo.png">
    </div> 
    <div class="poster_details">
      <h2>{{job.title}} <span class="varified"><i class="fas fa-check"></i>Verified</span></h2>
      <h5>About the Employer</h5>
      <h6 class="emp_name">{{job.company_name}}</h6>
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-map-marker-alt"></i>
           {{job.location_name}}
          </a>
        </li>
        <li>
          <a href="#">
            <i class="far fa-clock"></i>
           {{job.posted_on | timeago}}
          </a>
        </li>
      </ul>   
    </div>
    <div class="poster_action">
      <a class="addtofav" title="add to favourite" href="#"><i class="far fa-heart"></i></a>
      <button ng-if="!job.applied" class="btn btn-third" type="download" ng-click="apply_job();">Apply </i></button>
      <button ng-if="job.applied" class="btn btn-third" type="download" ng-click="apply_job();">Applied <i class="fa fa-check"></i></button>
      
    </div>
  </div>
      
    </div>
  </div> 
</header>


<!-- End Header 02
================================================== -->



<!-- Main 
================================================== -->
<main>
  <div class="single_job">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row ">
            <div class="col-md-12 single_job_main">
              <h2>Job Description</h2>
              <div>
                {{job.description}}
              </div>
            </div>
            <div class="section-divider"></div>
            <div class="col-md-12 single_job_main">
              <h2>Location</h2>
              <iframe class="full-width-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.916507434128!2d76.78322631470263!3d30.748846681631466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed76ab9f14c1%3A0xd6362b158b8994aa!2sEiffel%20Tower%20Replica!5e0!3m2!1sen!2sin!4v1581932177674!5m2!1sen!2sin"  height="450" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="section-divider"></div>
            <div class="col-md-12 single_job_main">
              <h2>Similar Jobs</h2>
              <div class="row two_col featured_box_outer">
            <div class="col-sm-6">
              <div class="featured_box ">
                <div class="fb_image">
                  <img alt="brand logo" src="assets/images/c-logo-01.webp">
                </div>
                <div class="fb_content">
                  <h4>2000 Words English to German</h4>
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fas fa-landmark"></i>
                        Magna Aliqua
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fas fa-map-marker-alt"></i>
                        New York
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="far fa-clock"></i>
                        2 days ago
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="fb_action">
                  <a title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                  <a class="btn btn-third" href="job-single.html">Apply Now</a>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured_box ">
                <div class="fb_image">
                  <img  alt="brand logo" src="assets/images/c-logo-02.webp">
                </div>
                <div class="fb_content">
                  <h4>Fix Python Selenium Code</h4>
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fas fa-landmark"></i>
                        Magna Aliqua
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fas fa-map-marker-alt"></i>
                        New York
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="far fa-clock"></i>
                        3 days ago
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="fb_action">
                  <a title="add to favourite" href="#"><i class="fas fa-heart"></i></a>
                  <a class="btn btn-third" href="job-single.html">Apply Now</a>
                  
                </div>
              </div>
            </div>        
            <div class="col-md-12 text-center">
              <a class="btn btn-primary" href="browse-jobs.html">Browse All Jobs <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="single-job-sidebar">
        <div class="sjs_box">
          <h3>Job Summary</h3>
              <ul class="single-job-sidebar-features">
                <li>
                  <i class="fas fa-map-marker-alt"></i>
                  <h6>Location</h6>
                  <p>{{job.location_name}}</p>
                </li>
                <li>
                  <i class="fas fa-briefcase"></i>
                  <h6>Job Type</h6>
                  <p>{{job.type}}</p>
                </li>
                <li>
                  <i class="fas fa-money-bill-alt"></i>
                  <h6>Offered Salary</h6p>
                  <p>{{job.salary}}</p>
                </li>
              </ul>
        </div>            
            <div class="sjs_box">
              <h3>Tags</h3>
              <ul class="tags">
            <li>PHP</li>
            <li>MySQL </li>
            <li>API Development</li>
            <li>PHP</li>
            <li>MySQL </li>
            <li>API Development</li>
          </ul>
            </div>
            
          </div>
          <div class=" sjs_box_action">
              <a class="btn btn-third" href="#">Contact Employer</a>
                <p>- or -</p> 
              <button ng-if="!job.applied"class="btn btn-primary" type="download" ng-click="apply_job();">Apply </button>
              <button ng-if="job.applied" class="btn btn-primary" type="download" ng-click="apply_job();">Applied <i  class="fa fa-check"></i></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal apply-form-modal" tabindex="-1" role="dialog" id="applyjobModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header log-hd">
          <h5 class="modal-title">You are applying for</br> <b>{{job.title}}</b></h5>
        </div>
        <div class="modal-body bg-gra">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <form name="jobapplyform" class="form-horizontal">

                  <div class="resume-header">
                    <div class="row">
                        <!-- Resume Avatar -->
                        <div class="col-sm-3 col-xs-4 user-pic">
                            <div class="avatar img-circle text-center">
                                <div class="p-photo" ng-class="{hv_img: profile.profile_image}">
                                  <i ng-if="!profile.profile_image" class="fa fa-user" aria-hidden="true"></i>
                                  <img ng-if="profile.profile_image" ng-src="{{'admin/api/uploads/'+profile.profile_image}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 col-xs-8">
                            <!-- Full Name -->
                            <h4 class="m-t-md">
                                <span id="app-fullName">{{loggedInUserInfo.profile ? loggedInUserInfo.profile.name : loggedInUserInfo.username}}</span>
                            </h4>

                            <!-- Job Title -->
                            <div class="m-t-xs app-title">
                                <a href="javascript:void(0);" class="editable editable-click" data-placeholder="Professional headline. Ex: Project manager" tabindex="1" id="app-title" data-optional="1">{{loggedInUserInfo.profile.job_title}}</a>
                            </div>

                            <input type="hidden" name="appJobTitle" id="appJobTitle" value="Business Manager">
                        </div>
                    </div>
                </div>


                  <div id="resume" class="resume-body">
                    <!-- Email Address -->
                    <div class="row form-group m-t-sm">
                        <label for="app-resume" class="col-sm-3 col-xs-12 control-label">Email</label>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-static" id="app-email">{{loggedInUserInfo.email}}</div>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="row form-group m-t-sm">
                        <label for="app-resume" class="col-sm-3 col-xs-12 control-label">Phone number</label>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-static phone-number">
                               <div class="form-control-static">{{loggedInUserInfo.profile.phonenumber}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- Select Resume Block -->
                    <div class="row form-group awe-check select-resume">
                        <label for="app-resume" class="col-sm-3 col-xs-12 control-label">
                            Resume
                          </label>

                        <div class="col-sm-9 col-xs-12">
                            <div id="applyResume" class="m-t-xs">
                              <div class="row select-resume__item" ng-repeat="res in loggedInUserInfo.profile.resume_list">
                                <div class="col-sm-12">
                                  <div class="row radio radio-success">
                                    <input tabindex="5" type="radio" name="resumeApply" id="options{{res.updated_on}}" value="8946130" data-type="last_attachment">
                                    <label for="options{{res.updated_on}}">
                                      <span>{{res.resume}}</span>
                                      <span class="small gray-light select-resume__hint"> ({{res.updated_on | date: 'short'}})</span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- Upload New CV -->
                            <div class="row select-resume__item select-resume__upload-cv m-t-xs">
                                <div class="col-sm-12">
                                    <div class="radio radio-success">
                                        <input tabindex="7" type="radio" name="resumeApply" id="optionsRadios3" value="newAttachment" data-type="new_attachment">

                                        <label trigger-upload="resumeUpload" for="optionsRadios3"><a class="relative">Upload new CV
                                                <i class="glyphicon glyphicon-upload" data-toggle="tooltip" title="Replace" data-placement="top"></i></a>
                                        </label>

                                        <input format="doc,docx,pdf" file-upload type="file" id="resumeUpload" ng-model="pageInfo.resume" after-upload="saveResume()" name="">

                                        <span id="resume-filename" class="small m-l-md gray text-clip-50"></span>
                                    </div>

                                    <span class="small gray-light pull-left m-l-lg m-r-lg">You can only attach .doc, .docx, and .pdf files that are less than 2MB in size.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cover Letter -->
                    
                    <span id="errorAppSystem" style="display: none;" class="error-message"></span>
                </div>
                  <div class="modal-footer">
                <input type="hidden" name="appliedType" id="appliedType">

                <div class="pull-right">

                    <button type="button" class="btn btn-defautl btn-outline track-event" data-evt-type="cancel-apply" tabindex="11" data-dismiss="modal">Cancel</button>

                    <button ng-click="apply_now()" type="button"  class="btn btn-success " tabindex="11">Send application</button>

                    <button type="submit" id="applySendingProcessBtn" style="display: none;" class="btn btn-default" tabindex="10" disabled="">
                        <img src="https://images.vietnamworks.com/loading.gif" alt=""> Sending
                    </button>
                </div>
            </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>