        <div class=" job_main_right">
          <div class="row job_section">
          <div class="col-sm-12">
            <div class="jm_headings">
                      <h2>Job Lists</h2>
                    </div>
                        <form>
                        <div class="form-row">
                          <div class="col position-re search">
                            <input type="text" ng-model="search.$" class="form-control" placeholder="Search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </div>
                        </div>
                        </form>
                  <div class="joblist">
                    <div>
                      <p ng-if="(totalItems | filter: pageInfo.search).length == 0">No jobs posted</p>
                      <div class="v_post row" ng-repeat="job in totalItems | filter: pageInfo.search">
                      <div class="po_img col-sm-2">
                        <img style="width: 100%;max-height: 100%;" ng-src="{{job.company_image ? 'admin/api/uploads/'+job.company_image : 'html/images/company_placeholder.jpeg'}}">
                      </div>
                      <div class="v-details col-sm-6" >
                        <h4 class="active">{{job.title}}</h4>
                        <p> {{job.posted_on}}</p>
                        <p>{{job.location_name}}</p>
                      </div>
                      <div class="col-sm-2 text-center">
                          <div ng-click="getApplicants(job)" class="cp">
                            <b >{{job.no_of_applicants}}</b><br>
                            Applicants
                          </div>
                          
                        </div>
                        <div class="col-sm-2">
                          <div>
                            <i ng-click="edit_job(job);" class="fa fa-pencil cp" data-toggle="tooltip" data-original-title="Edit Job" ></i> &nbsp;&nbsp;&nbsp;
                                <i ng-click="delete_job(job.id);" class="fa fa-trash cp" data-toggle="tooltip" data-original-title="Delete Job" ></i>
                          </div>
                          
                        </div>
                    </div>
                    </div>
                    
                  </div>
          </div>
          </div>  
           
                    
        </div>
      