
  <header class="header_01 header_inner">
  <div class="header_main">
    <div class="header_menu fixed-top">
      <div class="container">
        <div class="header_top">
          <div class="logo">
            <a ui-sref="home">
              <div class="howmatchlogo"><span class="text-success">How</span>Match</div>
            </a>
          </div>
          <div class="navigation">
            <nav>
              <div class="hamburger hamburger--spring js-hamburger ">
                    <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                    </div>
                  </div>
                  <ul>
                    <li class=" current_page">
                      <a ui-sref="home">Home</a>
                    </li>
                    <li class="">
                      <a ui-sref="job_search">Search Job</a>                  
                    </li>
                    <li class="">
                      <a href="#">Post Job</a>
                     </li>

                    <li class="">
                      <a href="#">Companies</a>
                    </li>
                  </ul>
            </nav>
            <div class="ac_nav after_login_ac_nav">
              <!--logedin-->
                <div class="login_pop after_login"  ng-class="{hv_img: loggedInUserInfo.profile.profile_image}">
                  <button class="btn btn-primary withdp">  <i ng-if="!loggedInUserInfo.profile.profile_image" class="fa fa-user" aria-hidden="true"></i><img alt=""  ng-if="loggedInUserInfo.profile.profile_image" ng-src="{{'admin/api/uploads/'+loggedInUserInfo.profile.profile_image}}"> Hi {{loggedInUserInfo.profile ? loggedInUserInfo.profile.name : loggedInUserInfo.username}}  <i class="fas fa-caret-down"></i></button>
                  <div class="login_pop_box login_pop_box_menu">
                    <div class="login_pop_box_head">
                      <div  ng-class="{hv_img: loggedInUserInfo.profile.profile_image}">
                        <i ng-if="!loggedInUserInfo.profile.profile_image" class="fa fa-user" aria-hidden="true"></i>
                        <img alt=""  ng-if="loggedInUserInfo.profile.profile_image" ng-src="{{'admin/api/uploads/'+loggedInUserInfo.profile.profile_image}}">
                        <h5>{{loggedInUserInfo.profile ? loggedInUserInfo.profile.name : loggedInUserInfo.username}}</h5> 
                        <h6>{{loggedInUserInfo.profile.job_title}}</h6>
                      </div>
                    </div>
                    <ul>
                      <li>
                        <a ui-sref="user.dashboard"><i class="fas fa-search"></i> Dashboard </a>
                      </li>
                      <li>
                        <a ui-sref="user.applied_job"><i class="fas fa-search"></i> Browse Jobs </a>
                      </li>
                      <li>
                        <a ui-sref="user.shortlist_job"><i class="fas fa-star"></i> View My Stared Jobs</a>
                      </li>
                      <li>
                        <a ui-sref="user.profile"><i class="fas fa-user"></i> Update My Profile</a>
                      </li>
                      <li>
                        <a ui-sref="user.settings"><i class="fas fa-key"></i>Change Password</a>
                      </li>
                      <li>
                        <a href="#" ng-click="logout()"><i class="fas fa-power-off"></i> Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="login_pop after_login">
                  <button class="btn btn-msg">
                    <i class="fas fa-bell"></i>
                    <span class="msg-count">2</span>
                   </button>
                  <div class="login_pop_box job_seekernotifi ">
                      <h6>Notification</h6>
                      <ul>
                        <li><img alt=""   src="assets/images/c-logo-02.webp"><a href="#"> Thanks for applying this job, our HR team will contact you soon</a> </li>
                        <li><img alt=""   src="assets/images/profile-5.png"><a href="#">You updated your profile picture .</a> </li>
                      </ul>
                  </div>
                </div>
              <!--end logedin-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_btm">
      <h2>{{currentstate.Label}}</h2>
    </div>
  </div> 
</header>


<!-- End Header 02
================================================== -->



<!-- Main 
================================================== -->
<main>
  <div class="job_container">
    <div class="container">
      <div class="row job_main">
        <div class="sidebar">
          <ul class="user_navigation">
            <li >
              <a ui-sref="job_search"><i class="fas fa-search"></i> Browse Jobs </a>
            </li>
            <li>
            </li>
            <li class="is-active">
              <a ui-sref="user.dashboard">
                <i class="fas fa-border-all"></i> Job Dashboard
              </a>
            </li>
        </ul>
        <h5>Organize and Manage</h5>
        <ul class="user_navigation">
          <li>
              <a ui-sref="user.applied_job"><i class="fas fa-star"></i> View My Jobs Applied</a>
            </li>
            <li>
              <a ui-sref="user.shortlist_job"><i class="fas fa-star"></i> View My Stared Jobs</a>
            </li>
            <li>
              <a ui-sref="user.alerts"><i class="fas fa-star"></i> Job Matches</a>
            </li>
        </ul>
        <h5>Account</h5>
        <ul class="user_navigation">    
            <li>
              <a ui-sref="user.profile"><i class="fas fa-user"></i> Update My Profile</a>
            </li>
            <li>
              <a ui-sref="user.resume"><i class="fas fa-user"></i> Update My Resume</a>
            </li>
            <li>
              <a ui-sref="user.settings"><i class="fas fa-key"></i>Change Password</a>
            </li>
            <li>
              <a ng-click="logout();"><i class="fas fa-power-off"></i> Logout</a>
            </li>
          </ul>
        </div>
          
          <ui-view id='childviews'></ui-view>

          </div>
    </div>
  </div>
</main>