.coming_soon{
    padding: 150px;
    font-size: 30px;
    font-weight: bold;
    min-height: 500px;
}
.social-icon img{
	width: 35px;
}
.social-icon a {
     float: none!important; 
     margin-right: 0!important; 
     width: 0!important; 
     padding: 0!important; 
     height: 0!important; 
     border-radius: unset!important; 
     border: none!important; 
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.store-icon img{
	width: 50%;
}
.apple{
	width: 40%!important;
}