<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
      <!-- START Background Pic-->
      <img src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
      <!-- END Background Pic-->
      <!-- START Background Caption-->
      <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
        <h2 class="semi-bold text-white">
				Pages make it easy to enjoy what matters the most in the life</h2>
        <p class="small">
          images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
        </p>
      </div>
      <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <h1>Howmatch Admin</h1>
        <!-- START Login Form -->
        <form autocomplete="no" ng-if="current_state == 'login'" name="form" id="form-login" class="p-t-15" role="form">
            <p class="p-t-35">Sign into your Admin account</p>
            <!-- START Form Control-->
            <div class="form-group form-group-default" >
              <label>Login</label>
              <div class="controls">
                <input ng-disabled="preview" autocomplete="no" type="text" ng-model="login.username" name="username" placeholder="User Name or Email" class="form-control" required>
              </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Password</label>
              <div class="controls">
                <input ng-disabled="preview" autocomplete="no" type="password" ng-model="login.password" class="form-control" name="password" placeholder="Credentials" required>
              </div>
            </div>
            <!-- START Form Control-->
            <div class="row">
              <div class="col-md-6 no-padding sm-p-l-10">
                <div class="checkbox ">
                  <input ng-disabled="preview" type="checkbox" value="1" id="checkbox1">
                  <label for="checkbox1">Keep Me Signed in</label>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-end">
                <a ng-if="preview" class="text-info small">Forgot Password</a>
                <a  href="#" ng-if="!preview" ui-sref="forgotPwd" class="text-info small">Forgot Password</a>
              </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-primary btn-cons m-t-10" ng-disabled="form.$invalid" ng-click="authenticate();" type="submit">Sign in</button>
            <p ng-if="error" class="error-msg">{{error}}</p>
          </form>
          <!--END Login Form-->

          <!-- START Forgot Password Form -->
          <form ng-if="current_state == 'forgotPwd'" name="form" id="form-login" class="p-t-15" role="form">
            <p class="p-t-35">Enter your username/email to reset password</p>
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <div class="controls">
                <input type="text" ng-model="login.email" name="username" placeholder="User Name or Email" class="form-control" required>
              </div>
            </div>
            <!-- END Form Control-->
            <div class="row">
              <div class="col-md-6 no-padding sm-p-l-10">
                
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-end">
                <a ui-sref="login" href="#" class="text-info small">Back to Login</a>
              </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-primary btn-cons m-t-10" ng-disabled="form.$invalid" ng-click="forgotPassword();" type="submit">Reset</button>
            <p ng-if="error" class="error-msg">{{error}}</p>
          </form>
          <!--END Forgot Password Form-->
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            
            <div class="col-sm-9 no-padding m-t-10">
              <p>
                <small>
								Create a pages account. If you have a facebook account, log into it for this
								process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#"
								                                                                       class="text-info">Google</a>
							</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Login Right Container-->
  </div>