<div class="row">
  <div class="col-sm-6">
     <h5>Job Applicants</h5>
  </div>
  </div>

<div class="margin-t20 search position-re row">
  <div class="col-sm-6">
    <input type="text" name="search" placeholder="search" class="form-control">
    <i class="fa fa-search"></i>
  </div>
  <div class="col-sm-6">
    <input type="text" name="sort" class="form-control"> 
  </div>  
</div>

<div class="joblist">
  <div>
    <div class="v_post row">
    <div class="po_img col-sm-3"></div>
    <div class="v-details col-sm-6">
      <h4 class="active">Candidate Name</h4>
      <p> Graphic Desiner</p>
      <p>Ho Chi Minh, Vietnam</p>
    </div>
    <div class="col-sm-3">
        <div>
          <a href=""><i ng-click="edit_job(job);" class="fa fa-heart" data-toggle="tooltip" data-original-title="Edit Job" ></i> Shortlist</a>
          <a href="" ui-sref="view_candidate"><i class="fa fa-eye" data-toggle="tooltip" data-original-title="Edit Job" ></i> View</a>
          <a href=""><i ng-click="delete_job(job.id);" class="fa fa-trash cp" data-toggle="tooltip" data-original-title="Delete Job" ></i> Delete</a>
        </div>
        
      </div>
  </div>
  </div>
  
</div>
