<header class="header_01 header_inner">
  <div class="header_main">
    <div class="header_menu fixed-top"  ng-include="'src/elements/header.html'">
    </div>
    <div class="header_btm">
      <h2>{{page.page_title}}</h2>
    </div>
  </div> 
</header>


<!-- End Header 02
================================================== -->



<!-- Main 
================================================== -->
<main ng-show="pageid !== 'contact-us'">
  <div class="simple_page">
    <div class="container ">
      <div class="row">
        <div class="col-md-12" ng-bind-html="page.page_content | to_trusted">
        

        </div>        
      </div>
    </div>
  </div>
</main>
<main ng-hide="pageid !== 'contact-us'">
  <div class="only-form-pages">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class=" contact_us" >  
          <div class="row "   >
            <div class="col-md-12 col-lg-6 ">
              <div class="newslatter_outer">
                
                <div>
                    <h5>Address:</h5>
                    <ul>
                      <li><i class="fas fa-map-marker-alt"></i>
                        Keas 69 Str. 15234, Chalandri <br>
                        Athens, <b>Greece</b>
                      </li>
                      <li><a href="tel:#"><i class="fas fa-phone"></i> +30-2106019311 (landline)</a></li>
                      <li><a href="tel:#"><i class="fas fa-phone"></i> +30-6977664062 (mobile phone)</a></li>
                      <li><a href="tel:#"><i class="fas fa-fax"></i> +30-2106398905 (fax)</a></li>
                    </ul>
                    
                  </div>
              </div>
              <form class="newsletter">
                  <h5>Newsletter</h5>
                  <div class="d-flex">
                    <input class="form-control" type="email">
                    <input class="btn btn-primary" type="submit" value="Subscribe">
                  </div>
                   
                </form>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="only-form-box">
                <form name="cf">
                  <div class="com_class_form">
                    <div class="form-group">
                  
                      <input required="" ng-model="contactForm.name" class="form-control" type="text" name="name" size="40" placeholder="Name">
                    </div>
                    <div class="form-group">
                      
                      <input required ng-model="contactForm.email" class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                      
                      <input required ng-model="contactForm.phone" class="form-control" type="text" name="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                      
                      <select required ng-model="contactForm.user_type" class="form-control" name="user_type">
                        <option value="none">Are you a job seeker or an employer ?</option >
                        <option value="Job Seeker">Job Seeker</option>
                        <option value="Employer">Employer</option>
                      </select>
                    </div>
                    <div class="form-group">
                      
                      <input required ng-model="contactForm.subject" class="form-control" type="text" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                      
                      <textarea required ng-model="contactForm.message" class="form-control" name="message" cols="40" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                      <button ng-disabled="cf.$invalid" ng-click="contact_query()" class="btn btn-primary">Send</button>
                    </div>
                  </div>
                </form>
               </div>
            </div>
          </div>  
        
      </div>
        </div>
      </div>
    </div>
  </div>
</main>