<header class="header_01 header_inner">
  <div class="header_main">
    <div class="header_menu fixed-top" ng-include="'src/elements/header.html'">
    </div>
    <div class="header_btm">
      <h2>Browse Companies</h2>
    </div>
  </div> 
</header>


<main>
  <div class="simple_page">
    <div class="container">
         
     <!-- <div class="serh-form">
            <form class="form-inline">
              <div class="form-group mb-2 col-sm-5 pdd0 pos-re">
                <input type="text" class="form-control" id="staticEmail2" placeholder="Categories">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <div class="form-group mb-2 col-sm-5 pdd0 pos-re">
                <input type="text" class="form-control" placeholder="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
          </div> -->

          <div class="banerSearch" data-select2-id="9">
            <div class="fild-wrap fw-job-title" data-select2-id="8">
              <i class="fas fa-briefcase"></i>
              <select class="js-example-basic-multiple select2-hidden-accessible" name="state" data-select2-id="1" tabindex="-1" aria-hidden="true">
                <option value="AL" data-select2-id="3"> JOB TITLE, SKILL, INDUSTRY</option>
                <option value="1" data-select2-id="11">Concierge</option>
                <option value="2" data-select2-id="12">Event Planner</option>
                <option value="3" data-select2-id="13">Executive Chef</option>
                 <option value="4" data-select2-id="14">General Manager</option>

              </select><span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" data-select2-id="2" style="width: 265px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-state-0m-container"><span class="select2-selection__rendered" id="select2-state-0m-container" role="textbox" aria-readonly="true" title=" JOB TITLE, SKILL, INDUSTRY"> JOB TITLE, SKILL, INDUSTRY</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
            <div class="fild-wrap fw-job-location">
              <i class="fas fa-map-marker-alt"></i>
              <select class="js-example-basic-single select2-hidden-accessible" name="state" data-select2-id="4" tabindex="-1" aria-hidden="true">
                <option value="AL" data-select2-id="6">ALABAMA</option>
                <option value="WY">WYOMING</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="5" style="width: 265px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-state-45-container"><span class="select2-selection__rendered" id="select2-state-45-container" role="textbox" aria-readonly="true" title="ALABAMA">ALABAMA</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
            <div class="fild-wrap fw-submit">
              <input type="submit" class="btn btn-primary" value="SEARCH JOBS">
            </div>
          </div>

      <div class="row">
        <div class="col-md-12">
          <div class="letters-list">
            <a href="#" class="current">A</a>
            <a href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">S</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
            <a href="#">W</a>
            <a href="#">X</a>
            <a href="#">Y</a>
            <a href="#">Z</a>
          </div>
        </div>
      </div>
      
      <div class="row company_names">
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-01.webp">
              <h3>Aplacerat </h3>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-05.webp">
              <h3>Alaoreet </h3>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-03.webp">
              <h3>Asapien </h3>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-05.webp">
              <h3>Amauris </h3>
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-05.webp">
              <h3>Apcerat </h3>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-02.webp">
              <h3>Alaoreet </h3>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-05.webp">
              <h3>Asapien </h3>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="company_name_box">
            <a href="compnay-profile-single.html">
              <img alt=""  src="assets/images/c-logo-05.webp">
              <h3>Amauris </h3>
            </a>
          </div>
        </div>
      
      </div>

      <section class="slider-section ng-scope">
            <div class="container text-center my-3 padd30 padd-bt20">
              <div class="homepaddrl">
                <h2 class="font-weight-light">Featured Companies</h2>
                <br>
                <section class="featured-customer-logos slider">
                    <div class="slide" ng-repeat="cm in home_data.featured_company" ui-sref="view_company({id: cm.id+'-'+cm.slug})">
                      <img width="150" height="100" src="{{cm.profile.profile_picture ? 'admin/api/uploads/'+cm.profile.profile_picture : 'html/images/company_placeholder.jpeg'}}">
                      <h5>{{cm.profile.company_name}}</h5>
                    </div>
                 </section>
              </div>
            </div>
    </section>


  <section class="slider-section ng-scope">
    <div class="container text-center my-3 padd30 padd-bt20">
      <div class="homepaddrl">
        <h2 class="font-weight-light">New Companies</h2>
        <br>
        <section class="featured-customer-logos slider">
            <div class="slide" ng-repeat="cm in companies" ui-sref="view_company({id: cm.id+'-'+cm.slug})">
              <img width="150" height="100" src="{{cm.profile.profile_picture ? 'admin/api/uploads/'+cm.profile.profile_picture : 'html/images/company_placeholder.jpeg'}}">
              <h5>{{cm.profile.company_name}}</h5>
            </div>
         </section>
      </div>
    </div>
  </section>

    </div>
  </div>
</main>