<div class="row">
  <div class="col-md-12">
    <form ng-if="pageInfo.login" name="loginform">            
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Username or E-mail</label>
          <input ng-model="signupData.username" name="username" type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-12">
          <label for="inputPassword4">Password</label>
          <input ng-model="signupData.password" name="password" type="password" class="form-control" id="inputPassword4">
        </div>
      </div>  
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Remember me
          </label>
        </div>
      </div>             
      <div class="row">
        <div class="col-md-12 log-btn">
          <button ng-click="login(loginform.$valid)" class="btn btn-success">Login in</button>                     
        </div>
        <div class="col-md-12 log1-btn">
          <button ng-click="fbLogin()" class="btn btn-primary">Sign in on Facebook
          </button>
          <button ng-click="gmailLogin()"  class="btn btn-danger">Sign in on Google
          </button>
          <br>
          <br>
          <button ng-click="pageInfo.login=false;"  class="btn">Lost your Password?
          </button>
        </div>
      </div>
    </form>
    <form ng-if="!pageInfo.login" name="fpform">            
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">E-mail</label>
          <input required="" ng-model="pageInfo.email" name="email" type="email" class="form-control" id="inputEmail4">
        </div>
      </div>               
      <div class="row">
        <div class="col-md-12 log-btn">
          <button ng-click="lostPassword(fpform.$valid)" class="btn btn-success">Login in</button>                     
        </div>
        <div class="col-md-12 log1-btn">
          <button ng-click="pageInfo.login=true"  class="btn">Back to Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>