<div class="row">
  <div class="col-md-12">
    <form name="signupform">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="">User Type</label>
          <div class="row">
            <div class="col-md-6">
              <input ng-model="signupData.user_type" name="user_type" value="3" type="radio" class="form-control1" id="js_ut"> <label for="js_ut">Job Seeker</label>
            </div>
            <div class="col-md-6">
              <input ng-model="signupData.user_type" name="user_type" value="2" type="radio" class="form-control1" id="company_ut"> <label for="company_ut">Company</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row" ng-if="signupData.user_type == 2">
        <div class="form-group col-md-6">
          <label for="">Company Name</label>
          <input ng-model="signupData.profile.company_name" name="company_name" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Location</label>
          <input ng-model="signupData.profile.location" name="location" type="text" class="form-control">
        </div>
      </div>
      <div class="form-row" ng-if="signupData.user_type == 3">
        <div class="form-group col-md-6">
          <label for="">First Name</label>
          <input ng-model="signupData.profile.first_name" name="first_name" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input ng-model="signupData.profile.last_name" name="last_name" type="text" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Username</label>
          <input ng-model="signupData.username" name="username" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Email</label>
          <input ng-model="signupData.email" name="email" type="email" class="form-control" >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="">Password</label>
          <input ng-model="signupData.password" name="password" type="password" class="form-control">
        </div>
        <div class="form-group col-md-12">
          <label for="inputPassword4">Confirm Password</label>
          <input ng-model="pageInfo.password" compare-to="signupData.password" name="cpassword"  type="password" class="form-control">
        </div>
      </div>               
      <div class="row">
        <div class="col-md-12 log-btn">
          <button ng-click="register(signupform.$valid)" class="btn btn-success">Sign Up</button>
          <br>
          <p>Already have an account. <a href="#" ng-click="openLogin()" class="btn">Login in</a></p>
        </div>
      </div>
    </form>
  </div>
</div>