<div class=" job_main_right">
  <div class="row job_section">
  <div class="col-sm-12">
    <div class="jm_headings">
      <div class="col-sm-6">
       <h5>Shortlisted Candidates</h5>
      </div>
    </div>

  <div class="margin-t20 search position-re ">
   
      <input ng-model="pageInfo.search.$" type="text" name="search" placeholder="search" class="form-control">
      <i class="fa fa-search"></i>
   
  </div>

<div class="joblist">
  <p ng-if="(applicants | filter: pageInfo.search).length == 0">No Result</p>
  <div ng-repeat="applicant in applicants | filter: pageInfo.search" class="v_post row">
      <div class="po_img col-sm-3">
        <i ng-if="!applicant.profile_image" class="fa fa-user" aria-hidden="true"></i>
        <img style="width: 100%;max-height: 100%;" ng-if="applicant.profile_image" ng-src="{{'admin/api/uploads/'+applicant.profile_image}}">
      </div>
      <div class="v-details col-sm-6">
        <h4 class="active">{{applicant.name}}</h4>
        <p>{{applicant.job_title}}</p>
        <p>{{applicant.location}}</p>
      </div>
      <div class="col-sm-3">
          <div>
            <a ui-sref="view_candidate({id:applicant.id})"><i  class="fa fa-eye" data-toggle="tooltip" data-original-title="Edit Job" ></i> View Profile</a>
            <br>
            <br>
            <!-- <a ng-click="remove_shortlist(applicant.id);"><i  class="fa fa- " data-toggle="tooltip" data-original-title="Delete" ></i> Delete</a> -->
            <a class="cp" ui-sref="#" ng-click="remove_shortlist(applicant.id);"><i  class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete Job"></i>Delete</a>
          </div>
          
        </div>
    </div>
  
</div>
</div>
</div>
</div>
