<div class="jumbotron" data-pages="parallax">
  <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" ui-sref="dashboard">Home</a></li>
        <li class="breadcrumb-item active">{{currentStateDetails.label}}</li>
      </ol>
    </div>
  </div>
</div>

<div class=" container-fluid   container-fixed-lg bg-white">
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">{{currentStateDetails.label}}&nbsp;&nbsp;&nbsp;<button id="show-modal" class="btn btn-primary btn-cons"><i class="fa fa-plus"></i> Add New
                    </button>
      </div>
      <div class="pull-right">
        <div class="col-xs-12">
          <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="export-options-container"></div>
    </div>
    <div class="card-body">
      <table class="table table-striped" id="tableWithExportOptions">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Last Date to Apply</th>
            <th>No. of Posts</th>
            <th>Posted By</th>
            <th>Posted On</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="gradeX" ng-repeat="job in totalItems" repeat-end="initTooltip()">
            <td>{{$index + 1}}</td>
            <td>{{job.title}}<br><span class="featured" ng-if="job.is_featured">Featured</span></td>
            <td>{{job.category.name}}</td>
            <td>{{job.last_date}}</td>
            <td>{{job.no_of_position}}</td>
            <td>{{job.posted_by.username}}</td>
            <td>{{job.posted_on}}</td>
            <td ng-if="job.status == 0">
              <i ng-click="change_status(1, job.id);" class="inactive_dt cp fa fa-times"></i>
            </td>
            <td ng-if="job.status == 1">
              <i ng-click="change_status(0, job.id);" class="active_dt cp fa fa-check"></i>
            </td>
            <td>
              <i ng-click="edit_job(job);" class="fa fa-pencil cp" data-toggle="tooltip" data-original-title="Edit Job" ></i> &nbsp;&nbsp;&nbsp;
              <i ng-click="delete_job(job.id);" class="fa fa-trash cp" data-toggle="tooltip" data-original-title="Delete Job" ></i>
            </td>
          </tr>
          <tr ng-if="totalItems.length == 0"><td colspan="7">No Jobs</td></tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info">Showing 1 to 10 of 57 entries
          </div>
        </div>
        <div class="col-sm-7">
          <!-- <paging-control paging-size="pagingSize" noofitem="dataPerPage" total-items="totalItems" display-items="displayItems"></paging-control> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="deleteAppModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" name="jobform" novalidate="" ng-class="{submitted: pageInfo.submitted}">
      <div class="modal-header clearfix ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5"><span class="semi-bold">Delete</span> Job</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this job?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="delete_job2()" id="add-app" type="button" class="btn btn-primary  btn-cons">Ok</button>
        <button type="button" class="btn btn-cons" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <form ng-if="pageInfo.showForm" role="form" name="jobform" novalidate="" ng-class="{submitted: pageInfo.submitted}">
      <div class="modal-header clearfix ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5"><span class="semi-bold">{{job_form_data.id ? 'Edit' : 'New'}}</span> Job</h4>
      </div>
      <div class="modal-body">
        <p class="small-text">Create a new job using this form, make sure you fill them all</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.title.$invalid}">
                <label>Title</label>
                <input name="title" required="" ng-model="job_form_data.title" type="text" class="form-control" placeholder="Title of the job">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.type.$invalid}">
                <label>Types</label>
                <select  name="type" required class="form-control select2multiple" ng-model="job_form_data.type">
                  <option>Freelance</option>
                  <option>Full Time</option>
                  <option>Part Time</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.last_date.$invalid}">
                <label>Application Deadline Date</label>
                <input data-provide="datepicker" class="form-control" required="" name="last_date" placeholder="" ng-model="job_form_data.last_date">
              </div>
            </div>
            <div class=" col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.jtype.$invalid}">
              <label for="inputPassword4">Job Apply type </label>
              <select name="jtype" class="form-control" required="" ng-model="job_form_data.jtype">
                <option>Internal</option>
                <option>External</option>
              </select>          
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.description.$invalid}">
                <label>Description</label>
                <textarea style="height: auto;" rows="5" name="description" ng-model="job_form_data.description" required id="appDescription" type="text" class="form-control" placeholder="Tell us more about it"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.no_of_position.$invalid}">
                <label>No of Position</label>
                <input  name="tags" ng-model="job_form_data.no_of_position" required  type="text" class="form-control" placeholder="">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.salary.$invalid}">
                <label>Salary</label>
                <input  name="tags" ng-model="job_form_data.salary" required  type="text" class="form-control" placeholder="">
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>Gender</label>
                <select name="gender" class="form-control select2multiple"  ng-model="job_form_data.gender" >
                  <option>Both</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>Experience</label>
                <select  name="experience" class="form-control select2multiple"  ng-model="job_form_data.experience" >
                  <option>Fresher</option>
                  <option>1 year</option>
                  <option>2 years</option>
                  <option>3 years</option>
                  <option>4 years</option>
                  <option>Above 5 years</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.category.$invalid}">
                <label>Category</label>
                <select  name="category" required class="form-control"  ng-model="job_form_data.category">
                  <option ng-repeat="cat in category" value="{{cat.id}}">{{cat.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.tags.$invalid}">
                <label>Tags or Keywords</label>
                <select select2multiple name="tags" required class="form-control select2multiple" multiple="multiple"  ng-model="job_form_data.keywords">
                  <option ng-repeat="ind in lov.keywords" value="{{ind.id}}">{{ind.title}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.industry.$invalid}">
                <label>Industry</label>
                <select select2multiple name="industry" required class="form-control select2multiple" multiple="multiple"  ng-model="job_form_data.industry">
                  <option ng-repeat="ind in lov.industry" value="{{ind.id}}">{{ind.title}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.education.$invalid}">
                <label>Qualification</label>
                <select select2multiple name="education" required class="form-control select2multiple" multiple="multiple"  ng-model="job_form_data.qualification">
                  <option ng-repeat="edu in lov.education" value="{{edu.id}}">{{edu.title}}</option>
                </select>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.joblevel.$invalid}">
                <label>Career Level</label>
                <select select2multiple name="joblevel" required class="form-control select2multiple" multiple="multiple"  ng-model="job_form_data.job_level">
                  <option ng-repeat="jl in lov.joblevel" value="{{jl.id}}">{{jl.title}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" ng-class="{invalid: jobform.location.$invalid}">
                <label>Location</label>
                <select select2multiple name="location" required class="form-control select2multiple" multiple="multiple"  ng-model="job_form_data.location">
                  <option ng-repeat="jl in lov.location" value="{{jl.id}}">{{jl.title}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" >
                <label>Is Featured Job</label>
                <input type="checkbox" name="is_featured" ng-model="job_form_data.is_featured">
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button ng-click="save_job(jobform)" id="add-app" type="button" class="btn btn-primary  btn-cons">Add</button>
        <button type="button" class="btn btn-cons" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>