<main role="main" class="home_margin-top">
  <div class="sub_header"><img src="html/images/elements/companies/Asset 4.png" class="img-fluid"></div>
  <div class="container padd30">    
     <div class="serh-form ng-hide">
            <form class="form-inline">
              <div class="form-group mb-2 col-sm-5 pdd0 pos-re">
                <input type="text" class="form-control" id="staticEmail2" placeholder="Categories">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <div class="form-group mb-2 col-sm-5 pdd0 pos-re">
                <input type="text" class="form-control" placeholder="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <button type="submit" class="btn btn-success mb-2">Search</button>
            </form>
          </div>

          <section class="slider-section ng-scope">
            <div class="container text-center my-3 padd30 padd-bt20">
              <div class="homepaddrl">
                <h2 class="font-weight-light">Featured Companies</h2>
                <br>
                <section class="featured-customer-logos slider">
                    <div class="slide" ng-repeat="cm in home_data.featured_company">
                      <img width="150" height="150" src="{{cm.profile.profile_picture ? 'admin/api/uploads/'+cm.profile.profile_picture : 'html/images/company_placeholder.jpeg'}}">
                      <h5>{{cm.profile.company_name}}</h5>
                    </div>
                 </section>
              </div>
            </div>
    </section>


  <section class="slider-section ng-scope">
    <div class="container text-center my-3 padd30 padd-bt20">
      <div class="homepaddrl">
        <h2 class="font-weight-light">New Companies</h2>
        <br>
        <section class="featured-customer-logos slider">
            <div class="slide" ng-repeat="cm in companies" ui-sref="view_company({id: cm.id+'-'+cm.slug})">
              <img width="150" height="150" src="{{cm.profile.profile_picture ? 'admin/api/uploads/'+cm.profile.profile_picture : 'html/images/company_placeholder.jpeg'}}">
              <h5>{{cm.profile.company_name}}</h5>
            </div>
         </section>
      </div>
    </div>
  </section>
    </div>
  </div>
</main>