<div style="min-height: 300px;text-align: center;padding-top: 100px;" ng-if="pageInfo.status == 'Error'">
  <h2>404 Page Not Found</h2>
</div>
<main ng-if="pageInfo.status == 'Success'" role="main" class="home_margin-top">
  <div class="com_back sub_header">
    <div class="container">
      <div class="row ">
        <div class="col-sm-3 cmp_image">
          <img ng-src="{{company.company_image ? 'admin/api/uploads/'+company.company_image : 'html/images/company_placeholder.jpeg'}}">
        </div>
        <span class="rating_no">5</span>
        <div class="col-sm-6 com_info">
          <h3>{{company.company_name}}</h3>
            <h5>{{company.category_name}}</h5>
            <div class="url">
              <a href="{{company.website}}"><img src="html/images/companies/url.svg">{{company.website}}</a>
              <a target="blank" href="{{company.facebook}}"><i class="fa fa-facebook"></i></a>
              <a target="blank" href="{{company.linkedin}}"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>{{company.location_name}}</p>
            <p><i class="fa fa-star checked" aria-hidden="true"></i>
              <i class="fa fa-star checked" aria-hidden="true"></i>
              <i class="fa fa-star checked" aria-hidden="true"></i>
              <i class="fa fa-star-half-0" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
        </div>
        <div class="col-sm-3 cmp_btn" ng-hide="loggedInUserInfo.user_type == 2">
          <div ng-click="follow()" ng-show="loggedInUserInfo.user_type" class="view_can"><button class="btn btn-success" type="download">{{company.following ? 'Un Follow' : 'Follow'}}</button></div>
          <div class="view_can"><button class="btn btn-secondary" ng-click="show_modal('#reviewModal');pageInfo.submitted = false;pageInfo.rating = {}">Add Review</button></div>
        </div>
      </div>
    </div> 
  </div>

  <div class="container margin-t20">
    <div class="sub_header">
      <div class="text-center">
        <h1>Company Information</h1>
      </div>
    </div>
    <div class="row text-center cmp_detail">
      <div class="col-sm-4">
        <img class="cmp_team" src="html/images/companies/team.svg">
        <span>Team Size</span>
        <p>{{company.teamsize}}</p>        
      </div>
      <div class="col-sm-4">
         <img class="cmp_job" src="html/images/companies/posted_job.svg">
        <span>Posted Job</span>
        <p>{{company.no_of_posts}}</p>   
        
      </div>
      <div class="col-sm-4">
         <img class="cmp_view" src="html/images/companies/views.svg">
        <span>Views</span>
        <p>{{company.no_of_views}}</p>        
      </div>
      
    </div>
    <div class="row text-center cmp_detail">
      <div class="col-sm-4 ">
        <img class="cmp_loc" src="html/images/companies/location.svg">
        <span>Location</span>
        <p>{{company.location.join(', ')}}</p>        
      </div>
      <div class="col-sm-4">
         <img class="cmp_since" src="html/images/companies/since.svg">
        <span>Since</span>
        <p>{{company.founded.split('-')[0]}}</p>   
        
      </div>
      <div class="col-sm-4">
         <img class="cmp_cat" src="html/images/companies/category.svg">
        <span>Categories</span>
        <p>{{company.category.join(', ')}}</p>        
      </div>
    </div>
  </div>

  <div class="bg-gra">
    <div class="container margin-t20">
      <h2 class="text-center">Open Positions</h2>
      <div class="row">

        <div ng-repeat="job in company.jobs" class="col-sm-6 op-pad ">
          <div class="can_info">
            <h5>{{job.title}}</h5>
            <p>
              <span> Published {{job.posted_on | date: 'short'}}</span>
              <span class="op_loc">{{job.location}}</span>
            </p>
          </div>       
        </div>

        
      </div>       
    </div>
  </div>

  <section class="slider-section ng-scope">
  <div class="container text-center my-3 padd30 padd-bt20">
    <div class="homepaddrl">
      <h2 class="font-weight-light">Our Office</h2>
      <br>
      <div id="carousel-one" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <ul class="silder-box">
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
            </ul>
          </div>
          <div class="carousel-item active">
            <ul class="silder-box">
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
            </ul>
          </div>
          <div class="carousel-item">
            <ul class="silder-box">
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
              <li><img src="html/images/company.jpg"></li>
            </ul>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carousel-one" data-slide-to="0" class=""></li>
          <li data-target="#carousel-one" data-slide-to="1" class="active"></li>
          <li data-target="#carousel-one" data-slide-to="2" class=""></li>
        </ol>
      </div>
    </div>
  </div>
  </section>
  
  <div class="bg-gra">
    <div class="container margin-t20">
      <h2 class="text-center">Employer Description</h2>
      <div>
        <p>{{company.description}}
        </p>
      </div>     
    </div>
  </div>
  
</main>

<div class="modal apply-form-modal" tabindex="-1" role="dialog" id="reviewModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header log-hd">
          <h5 class="modal-title">Add Review</h5>
        </div>
        <div class="modal-body bg-gra">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <form name="ratingform" novalidate="" ng-class="{submitted: pageInfo.submitted}">       
            <div class="text-center">
              <h5>Your Rating for this Listing</h5>
              <div class="row">
                <div class="star-rating" style="margin: 0 auto;">
                <input ng-required="!pageInfo.rating.rating" name="rating" ng-true-value="5" ng-model="pageInfo.rating.rating" required="" type="checkbox" id="st1" value="5" />
                <label for="st1"></label>
                <input ng-required="!pageInfo.rating.rating" name="rating" ng-true-value="4" ng-model="pageInfo.rating.rating" required type="checkbox" id="st2" value="4" />
                <label for="st2"></label>
                <input ng-required="!pageInfo.rating.rating" name="rating" ng-true-value="3" ng-model="pageInfo.rating.rating" required type="checkbox" id="st3" value="3" />
                <label for="st3"></label>
                <input ng-required="!pageInfo.rating.rating" name="rating" ng-true-value="2" ng-model="pageInfo.rating.rating" required type="checkbox" id="st4" value="2" />
                <label for="st4"></label>
                <input ng-required="!pageInfo.rating.rating" name="rating" ng-true-value="1" ng-model="pageInfo.rating.rating" required type="checkbox" id="st5" value="1" />
                <label for="st5"></label>
              </div>
              </div>
            </div>
            
            <div class="form-group">
              <label>Name</label>
              <input required ng-model="pageInfo.rating.name" type="text" class="form-control" placeholder="Enter Your Name" name="name">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input required ng-model="pageInfo.rating.email" type="email" class="form-control" placeholder="Enter Your Email" name="email">
            </div>
            <div class="form-group">
              <label>Comments</label>
              <textarea ng-model="pageInfo.rating.comments" class="form-control" name="comments"></textarea>
            </div>
            <div class="text-center">
              <button  class=" btn btn-success" ng-click="addReview(ratingform.$valid);">Submit</button>
            </div>
        </form>
               
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>