<main role="main" class="home_margin-top">
  <div class="sub_header"><img src="html/images/elements/employer/Asset 1.png" class="img-fluid"></div>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 left-menu db_padd">
          <div class="pho-file" style="overflow: hidden;">
            <div class="p-photo" ng-class="{hv_img: loggedInUserInfo.profile.profile_image}">
              <i ng-if="!loggedInUserInfo.profile.profile_image" class="fa fa-user" aria-hidden="true"></i>
              <img ng-if="loggedInUserInfo.profile.profile_image" ng-src="{{'admin/api/uploads/'+loggedInUserInfo.profile.profile_image}}">
            </div>
            <div class="pro-details"><h3>{{loggedInUserInfo.profile ? loggedInUserInfo.profile.name : loggedInUserInfo.username}}</h3><p>{{loggedInUserInfo.profile.job_title}}</p><p class="exp">{{loggedInUserInfo.profile.experience}} years of experience</p></div>
          </div>
            <nav class="navbar navbar-expand-md navbar-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidemenu"
                aria-controls="sidemenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-start" id="sidemenu">
                <ul class="dash_menu top-menu">
                  <li class="nav-item " ng-class="{active: currentState == 'user.dashboard'}">
                    <img src="html/images/icons/download-business-statistics-symbol-of-a-graphic.svg" >
                    <a class="nav-link" href="#" ui-sref="user.dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.profile'}">
                    <img src="html/images/icons/user.svg"> 
                    <a class="nav-link" href="#" ui-sref="user.profile">Profile</a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.resume'}">
                    <img src="html/images/icons/job-search-symbol-of-suitcase-and-curriculum-paper.svg">
                    <a class="nav-link" href="#" ui-sref="user.resume">My Resume</a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.applied_job'}">
                    <img src="html/images/icons/businessman-paper-of-the-application-for-a-job.svg">
                    <a class="nav-link" href="#" ui-sref="user.applied_job">Applied Jobs</a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.shortlist_job'}">
                    <img src="html/images/icons/list.svg">
                    <a class="nav-link" href="#" ui-sref="user.shortlist_job">Saved Jobs</a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.following_employees'}">
                    <img src="html/images/icons/switching-user.svg">
                    <a class="nav-link" href="#" ui-sref="user.following_employees">Following Employers</a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.alerts'}">
                    <img src="html/images/icons/alarm.svg">
                    <a class="nav-link" href="#" ui-sref="user.alerts">Job Alerts </a>
                  </li>
                  <li class="nav-item" ng-class="{active: currentState == 'user.settings'}">
                    <img src="html/images/icons/two-big-gears.svg">
                    <a class="nav-link" href="#" ui-sref="user.settings">Settings</a>
                  </li>
                </ul>
              </div>
            </nav>            
        </div>
        <div class="col-sm-8 db_padd db-view">
          <ui-view id='childviews'></ui-view>
        </div>
      </div>
    </div>
  </div>
</main>