<main role="main" class="home_margin-top">
  <div class="row margin-top0">
  <div class="col-sm-6">
     <h5>Manage Jobs</h5>
  </div>
  <div class="col-sm-6 left">
    <button ng-click="job_form_data = {industry: {}};show_modal('#submitjobModal')" class="right submitjob btn btn-success"><i class="fa fa-plus"></i>Submit Job</button>
  </div> 
</div>

<div class="margin-t20 search position-re row">
  <div class="col-sm-6">
    <input ng-model="pageInfo.search.$" type="text" name="search" placeholder="search" class="form-control">
    <i class="fa fa-search"></i>
  </div>
</div>

<div class="joblist">
  <div>
    <p ng-if="(totalItems | filter: pageInfo.search).length == 0">No jobs posted</p>
    <div class="v_post row" ng-repeat="job in totalItems | filter: pageInfo.search">
    <div class="po_img col-sm-2">
      <img style="width: 100%;max-height: 100%;" ng-src="{{job.company_image ? 'admin/api/uploads/'+job.company_image : 'html/images/company_placeholder.jpeg'}}">
    </div>
    <div class="v-details col-sm-6" >
      <h4 class="active">{{job.title}}</h4>
      <p> {{job.posted_on}}</p>
      <p>{{job.location}}</p>
    </div>
    <div class="col-sm-2 text-center">
        <div ng-click="getApplicants(job)" class="cp">
          <b >{{job.no_of_applicants}}</b><br>
          Applicants
        </div>
        
      </div>
      <div class="col-sm-2">
        <div>
          <i ng-click="edit_job(job);" class="fa fa-pencil cp" data-toggle="tooltip" data-original-title="Edit Job" ></i> &nbsp;&nbsp;&nbsp;
              <i ng-click="delete_job(job.id);" class="fa fa-trash cp" data-toggle="tooltip" data-original-title="Delete Job" ></i>
        </div>
        
      </div>
  </div>
  </div>
  
</div>
</main>


<div class="modal" tabindex="-1" role="dialog" id="showApplicantModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header log-hd">
          <h5 class="modal-title">{{job_form_data.title}} - Applicants</h5>
        </div>
      <div class="modal-body bg-gra usrmodal">
        <div class="joblist">
            <div ng-repeat="applicant in applicants" class="v_post row">
              <div class="po_img col-sm-3">
                <i ng-if="!applicant.profile_image" class="fa fa-user" aria-hidden="true"></i>
                <img style="width: 100%;max-height: 100%;" ng-if="applicant.profile_image" ng-src="{{'admin/api/uploads/'+applicant.profile_image}}">
              </div>
              <div class="v-details col-sm-6">
                <h4 class="active">{{applicant.name}}</h4>
                <p>{{applicant.job_title}}</p>
                <p>{{applicant.location}}</p>
              </div>
              <div class="col-sm-3">
                  <div>
                    <a target="_blank" href="#!view_candidate/{{applicant.id}}"><i  class="fa fa-eye" data-dismiss="modal" ></i> View Profile</a>
                  </div>
                  
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-cons">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="submitjobModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header log-hd">
          <h5 class="modal-title">Submit Job</h5>
        </div>
        <div class="modal-body bg-gra usrmodal">
         <form role="form" name="jobform" novalidate="" ng-class="{submitted: pageInfo.submitted}"> 
  <div class="form-row">
    <div class=" col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.title.$invalid}"> 
          <label for="name">Title</label>
          <input type="text" class="form-control" required="" ng-model="job_form_data.title" id="name" placeholder="Job Title">
        </div>
        
        <div class="col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.type.$invalid}">
          <label for="">Types  </label>
          <select class="form-control" required="" ng-model="job_form_data.type">
            <option>Freelancer</option>
            <option>Full Time</option>
            <option>Part Time</option>
          </select>
        </div>
    </div>
    <div class="form-row">
      <div class=" col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.last_date.$invalid}">
          <label for="">Application DeadLine</label>
          <input type="date" class="form-control" required="" name="deadline" placeholder="" ng-model="job_form_data.last_date">
      </div>
        <div class=" col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.jtype.$invalid}">
          <label for="inputPassword4">Job Apply type </label>
          <select class="form-control" required="" ng-model="job_form_data.jtype">
            <option>Internal</option>
            <option>External</option>
          </select>          
        </div>
    </div>
    <div class="form-row">
      <div class=" col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.salary.$invalid}">
          <label for="">Salary  </label>
          <input type="text" class="form-control" required="" name="deadline" placeholder="" ng-model="job_form_data.salary">
      </div>
        <div class=" col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.experience.$invalid}">
          <label for="inputPassword4">Experience</label>
          <input type="text" ng-model="job_form_data.experience" required="" class="form-control" name="">         
        </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6 form-group form-group-default" ng-class="{invalid: jobform.gender.$invalid}">
        <label>Gender</label>
        <select class="form-control" required="" ng-model="job_form_data.gender">
          <option>Male</option>
          <option>Female</option>
          <option>Both</option>
        </select>
        
      </div>
      
    </div>              
    <div class="form-row">
      <div class="col-sm-12 form-group form-group-default" ng-class="{invalid: jobform.category.$invalid}">
        <label>Categories</label>
        <select class="form-control" required="" ng-model="job_form_data.category">
          <option ng-repeat="cat in category" value="{{cat.id}}">{{cat.name}}</option>         
        </select>        
      </div>      
    </div>
    <div class="form-row">
      <div class="col-sm-12 form-group form-group-default" ng-class="{invalid: jobform.description.$invalid}">
        <label>Descripton</label>
        <textarea class="form-control" row="5" type="text name
        description" ng-model="job_form_data.description"></textarea>     
      </div>      
    </div>
    <div class="form-row">
      <div class=" col-sm-12 form-group form-group-default">
          <label for="">Location  </label>
          <input type="text" class="form-control" required="" name="deadline" placeholder="" ng-model="job_form_data.location">
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-12 form-group form-group-default" ng-class="{invalid: jobform.tags.$invalid}">
        <label>Tags</label>
        <select class="form-control select2multiple" multiple="" ng-model="job_form_data.tags">
          <option>PHP</option>
          <option>Java</option>          
        </select>        
      </div>      
    </div>
    <div class="form-row">
      <div class="col-sm-12 form-group form-group-default" ng-class="{invalid: jobform.industry.$invalid}">
        <label>Industry</label>
        <select class="form-control select2multiple" multiple="" ng-model="job_form_data.industry">
          <option ng-repeat="ind in industry" value="{{ind.id}}">{{ind.title}}</option>         
        </select>        
      </div>      
    </div>
    <div class="form-row">
      <div class="col-sm-12 form-group form-group-default" ng-class="{invalid: jobform.qualification.$invalid}">
        <label>Qualification</label>
        <select class="form-control select2multiple" multiple="" ng-model="job_form_data.qualification">
          <option ng-repeat="edu in education" value="{{edu.id}}">{{edu.title}}</option>        
        </select>        
      </div>      
    </div>
    <div class="form-row">
      <div class="col-sm-12 form-group form-group-default" ng-class="{invalid: jobform.job_level.$invalid}">
        <label>Career Level</label>
        <select class="form-control select2multiple" multiple="" ng-model="job_form_data.job_level">
          <option ng-repeat="jl in joblevel" value="{{jl.id}}">{{jl.title}}</option>         
        </select>        
      </div>      
    </div>
    <div class="form-row">
            <div class="col-sm-12">
              <div class="form-group form-group-default" >
                <label>Is Featured Job</label>
                <input type="checkbox" name="">
              </div>
            </div>
          </div>

   <div class="text-right">               
      <button ng-click="save_job(jobform)" type="submit" class="btn btn-success">Post Job</button>
  </div>
    </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="deleteAppModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" novalidate="" ng-class="{submitted: pageInfo.submitted}">
      <div class="modal-header clearfix ">
        <h4 class="p-b-5"><span class="semi-bold">Delete</span> Job</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this job?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="delete_job2()" id="add-app" type="button" class="btn btn-primary  btn-cons">Ok</button>
        <button type="button" class="btn btn-cons" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
