<header class="header_01 header_inner">
  <div class="header_main">
    <div class="header_menu fixed-top" ng-include="'src/elements/header.html'">
    </div>
    <div class="header_btm">
      <h2>Register</h2>
    </div>
  </div> 
</header><main>
  <div class="only-form-pages">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="only-form-box">   
            <div class="welcome-text text-center mb-5">
              <h5 class="mb-0">Create an account!</h5>
              <span>Already have an account? <a href="login.html">Log In!</a></span>
            </div>
        <form>
          <div class="com_class_form">
            <div class="form-group user_type_cont">
              <label class="user_type" for="usertype-1">
                <!-- <input type="radio" checked="" name="usertype" id="usertype-1" value="job seeker" > -->
                <input ng-model="signupData.user_type" name="user_type" value="3" type="radio" class="form-control1" id="usertype-1">
                <span><i class="far fa-user"></i> Job Seeker</span>
              </label>
              <label class="user_type" for="usertype-2">
                <!-- <input type="radio" name="usertype" id="usertype-2" value="employer" > -->
                <input ng-model="signupData.user_type" name="user_type" value="2" type="radio" class="form-control1" id="usertype-2">
                <span><i class="fas fa-landmark"></i> Employer</span>
              </label>
            </div>
            <div class="form-group" ng-if="signupData.user_type == 2">
              <div class="form-group">
                <input ng-model="signupData.profile.company_name" name="company_name" type="text" class="form-control" placeholder="Company Name*">
              </div>
              <div class="form-group">                
                <input ng-model="signupData.profile.location" name="location" type="text" class="form-control" placeholder="Location*">
              </div>
            </div>
            <div class="form-group" ng-if="signupData.user_type == 3">
              <div class="form-group ">
                <input ng-model="signupData.profile.first_name" name="first_name" type="text" class="form-control" placeholder="First Name*">
              </div>
              <div class="form-group">
                
                <input ng-model="signupData.profile.last_name" name="last_name" type="text" class="form-control" placeholder="Last Name*">
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="email" size="40" placeholder="Email address* " ng-model="signupData.email">
            </div>
            <div class="form-group">
              <input class="form-control" type="text"  size="40" placeholder="User name " ng-model="signupData.username">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder=" Password * " ng-model="signupData.password">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Re-enter Password * " ng-model="pageInfo.password" compare-to="signupData.password">
            </div>

            
            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Register" >
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
              </label>
            </div>
            
          </div>
        </form>
        <div class="social_login">
              <p class="or_span"><span>or</span></p>
              <button class="btn btn-facebook"><i class="fab fa-facebook-f"></i> Log In via Facebook</button>
              <button class="btn btn-google"><i class="fab fa-google-plus-g"></i> Register via Google+</button>
            </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</main>